

<div class="container-fluid container-list">
  <div class="row pt-5">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div *ngIf="currentStep === 1" formGroupName="employee">
          <h2>Step 1: Personal Information</h2>
          <div class="form-group pt-5">
            <label>Employee Code</label>
            <input type="text" class="form-control" formControlName="empcode">
          </div>
          <!-- Repeat the same pattern for other fields -->
         
          
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg" (click)="nextStepemployee(form.get('employee'))">Next</button>
          </div>
        </div>
        
        <div *ngIf="currentStep === 2" formGroupName="educationqualification">
          <!-- Fields and validation similar to Step 1 -->
          <h2>Step 2: Education Qualification</h2>
          <div class="form-group">
            <div class="row pt-5">
              <div class="col-md-4">
                <label>Degree</label>
                <input type="text" class="form-control" formControlName="degree">
              </div>
              <!-- <div class="col-md-4">
                <label>Degree</label>
                <input type="text" class="form-control" formControlName="degree">
              </div> -->
              <div class="col-md-4">
                <label>institution</label>
                <input type="text" class="form-control" formControlName="institution">
              </div>
              <div class="col-md-4">
                <label>year</label>
                <input type="number" class="form-control" formControlName="year">
              </div>
            </div>    
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg" (click)="prevStep(form.get('educationqualification'))">Previous</button>
            <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="nextStepemployee(form.get('educationqualification'))">Next</button>
          </div>
        </div>
        
        <!-- Repeat the pattern for other sections -->
        
        <div *ngIf="currentStep === 3" formGroupName="officialdetails">
          <h2>Step 3: Official Details</h2>
          <div class="form-group">
            <div class="row pt-5">
              <div class="col-md-4">
                <label>Department</label>
                <select  id="category" class="form-control" formControlName="departmentname"  (change)="onChangeDepartment($event)">
                  <option value="" disabled selected>select an option</option>
                  <option *ngFor="let department of options" [value]="department._id">{{ department.name }}</option>
                <!-- <input type="text" class="form-control" formControlName="department"> -->
                </select>
              </div>
              <div class="col-md-4">
                <label>Company</label>
                <input type="text" class="form-control" formControlName="company">
                </div>
                <div class="col-md-4">
                  <label>Status</label>
                  <input type="text" class="form-control" formControlName="employeestatus">
                 
                  <!-- <input type="text" class="form-control" formControlName="department"> -->
                  <!-- </select> -->

                </div>
            </div>
            <div class="row pt-5">
              <div class="col-md-4">
                <label>Manager</label>
                <input type="text" class="form-control" formControlName="manager">
              </div>
              <div class="col-md-4">
                <label>Officelocation</label>
                <!-- <input type="text" class="form-control" formControlName="officelocation"> -->
                <textarea id="textarea" rows="3" class="form-control" formControlName="officelocation"></textarea>
              </div>
              <div class="col-md-4">
                <label>Work Location</label>
                <!-- <input type="text" class="form-control" formControlName="worklocation"> -->
                <textarea id="textarea" rows="3" class="form-control" formControlName="worklocation"></textarea>
              </div>
           
            </div>   
            <div class="row">
              <div class="col-md-4 pt-3">
                <label>DateofJoining</label>
                <!-- <input type="text" class="form-control" formControlName="dateofJoining"> -->
                <input type="date" class="form-control" id="date"click="handleDatePickerClick" formControlName="dateofJoining">
              </div>
             
                <div class="col-md-4 pt-3">
                  <label>EmployeeType</label>
                  <!-- <input type="text" class="form-control" formControlName="employeetype"> -->
                  <select  id="category" class="form-control" formControlName="employeetype"  (change)="onChangeDepartment($event)">
                    <option value="" disabled selected>select an option</option>
                    <option value="contract">contract</option>
                    <option value="permanent">permanent</option>
                  </select>
                </div>
                <div class="col-md-4 pt-3">
                  <label>Designation</label>
                  <input type="text" class="form-control" formControlName="designation">
                </div>
            </div>  
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg" (click)="prevStep(form.get('officialdetails'))">Previous</button>
            
            <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="nextStepemployee(form.get('officialdetails'))">Next</button>
          </div>
          </div>
          <div *ngIf="currentStep === 4" formGroupName="statutorydetails">
            <h2>Step 3: Statutory Details</h2>
            <div class="form-group">
              <div class="row pt-5">
                <div class="col-md-4">
                  <label>PAN Number</label>
                  <input type="text" class="form-control" formControlName="panNumber">
                </div>
                <div class="col-md-4">
                  <label>aadhaarNumber</label>
                  <input type="text" class="form-control" formControlName="aadhaarNumber">
                </div>
                <div class="col-md-4">
                  <label>ESINumber</label>
                  <input type="text" class="form-control" formControlName="esiNumber">
                </div>
                <div class="col-md-4 pt-3">
                  <label>Provident Number</label>
                  <input type="text" class="form-control" formControlName="pfNumber">
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="prevStep(form.get('officialdetails'))">Previous</button>
              <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="nextStepemployee(form.get('officialdetails'))">Next</button>
            </div>

          </div>
          <div *ngIf="currentStep === 5" formGroupName="bankdetails">
            <h2>Step 5: Bank Details</h2>
            <div class="form-group">
              <div class="row pt-5">
                <div class="col-md-4">
                  <label>Account Number</label>
                  <input type="text" class="form-control" formControlName="accountNumber">
                </div>
                <div class="col-md-4">
                  <label>Bank Name</label>
                  <input type="text" class="form-control" formControlName="bankName">
                </div>
                <div class="col-md-4">
                  <label>Branch</label>
                  <input type="text" class="form-control" formControlName="branch">
                </div>
                <div class="col-md-4 pt-3">
                  <label>ifsc code</label>
                  <input type="text" class="form-control" formControlName="ifsccode">
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="prevStep(form.get('statutorydetails'))">Previous</button>
              <button type="submit" class="btn btn-primary btn-lg ml-2">Submit</button>
            </div>

          </div>
          </form></div>
          </div>
</div>
          <!-- Fields and validation similar to previous steps -->
          
         

