.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .profile{
    border: #010115 solid 1px;
  }
  .myprofile{
    border: #010115 solid 1px;
    font-size: 14px;
  }
  .bank-bg-color{
    background-color: rgb(241, 254, 218);
  }
  .education-bg-color{
    background-color: rgb( 240, 249, 251);
  }
  /* rgb(241, 254, 218) !important */
  
  .profile-details p {
    margin-bottom: 10px;
  }
  
  .edit-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .model-header-profile{
    background-color:rgb(228, 253, 248);
   
  }
  .modal-body input[type="button"]{
    height:45px;
  }
  .modal-body input[type="text"]{
    height:40px;
    border-radius:5px;
   
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
  h5{
    font-size: 15px;
  }
  .custom-margin-top {
    margin-top: 60px; /* Adjust the value as needed */
  }
  .edit-btn:hover {
    background-color: #0056b3;
  }
  .modal-content{
    color:black;
  }
  .custom-modal-dialog {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

  }
  
  .modal-open {
    overflow: hidden;
  }
  
  
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050; /* Adjust the z-index value if needed */
  }
  .overlay{
    position:fixed;
    z-index:999;
    width:100%;
    height:100%;
    background-color: black;
    /* background-color:rgba(0,0,0,.75) */
    background-color: rgba(0, 0, 0, 0.5);
}

.popup{
    width:300px;
    position:absolute;
    left:50%;
    top:100px;
    margin-left:-150px;
}
  
  .container-list{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color:black;
    overflow: auto;
    font-size:13px;
    font-weight: normal!important;
}
h3{
  font-size: 1.4em !important;
  font-weight: 600
}
  