
  <span *ngIf="isduplicate" class="duplicatemessage">{{usermessage}}</span>
<div class="emp-control">
  <div>
    <label for="name" class="label-control">empcode:</label>
  </div>
  <div>
    <input type="text" [(ngModel)]="employee.empcode" name="code" id="code" required class="form-control" placeholder="empcode">
  </div>
 </div>
 <div class="emp-control">
  <div>
<label for="name" class="label-control">name:</label>
</div>
<div>
  <input type="text" [(ngModel)]="employee.empname" name="age" id="empname" required class="form-control" placeholder="Enter empname">
</div>

 </div>
 <div class="emp-control">
  <div>
    <label for="department" class="label-control">department:</label>
  </div>
  <div>
    <input type="text" [(ngModel)]="employee.department" name="department" id="department" required class="form-control" placeholder="Enter department">
  </div>
 </div>
 <div class="empsubmit">
  <input type="button" (click)="addEmployee(employee)" value="Add" class="btn btn-primary mt-3">
    <input type="button" class="btn btn-secondary mt-3" (click)="onaddCloseHandled()" value="Cancel">
 </div>














  




    <!-- <span *ngIf="isduplicate" class="duplicatemessage">{{usermessage}}</span>
    <div class="parent">
      <div class="code-control">
        <label for="name">empCode:</label>
        <input type="text" [(ngModel)]="employee.empcode" name="code" id="code" required class="form-control">
      </div>
      <div class="code-control">
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="employee.empname" name="age" id="empname" required class="form-control">
      </div>
      <div class="code-control">
        <label for="department">department:</label>
        <input type="text" [(ngModel)]="employee.department" name="department" id="department" required class="form-control">
      </div>
      <div class="btn-emp">
        <input type="button" (click)="addEmployee(employee)" value="Add" class="btn btn-primary mt-3">
        <input type="button" class="btn btn-secondary mt-3" (click)="onCloseHandled()" value="Cancel">
      </div>
    </div> -->

    


