.header {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;

} */
.container{
    margin: 20px 0;
    padding: 20px;
}
.container-list{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;

}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.responsive {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.row.content {
    height: 1000px;
}

/* Set gray background color and 100% height */
.sidenav {
    height: 100%;
    width: 15%;

}

.imagediv {
    margin-left: 10px;
    border: aqua solid 5px;
}

th,
td {
    /* padding: 5px; */
    text-align: center;
}

th {
    text-align: center;
}


.main {

    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.fa {
    font-size: x-small;
    padding-top: 10px;

}
.btn-align{
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}
.columnsettings{
    /* border:rgb(34, 193, 195) solid 3px; */
    width: 100px;
}
.btn-block{
    display: flex;
    column-gap: 5px;
    justify-content: flex-end;
}

.datagrid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    opacity: 1;
    /* background-color: #8BC6EC; */
    /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    /* transition: width 2s, height 4s; */
    /* transition: all 2s linear; */
}


.internalgrid {
    /* display: flex; */
    border: #555 solid 0.1px;
}

.internalgrid td {
    text-align: center;
}



.internalheadergrid {
    display: flex;
    justify-content: space-between;
    border: blue 5px solid;
    font-size: 15px;
    width: 100%;
    padding: 5px;
    background: rgb(34, 193, 195);
    opacity: .8;
    /* color: white; */
    z-index: -1;
    /* transition: background 1s ease-out;  */
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border: 1px;
}

thead:hover {
    /*  transition: all 0.5s ease-in; */
    opacity: .88;
    /* background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 81, 253, 1) 100%); */
    transition: all 1s linear;
}

.pointer {
    cursor: pointer;
}

input {
    opacity: .8;
    text-align: center;
}

.dropdown {
    display: block;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

.global {
    background-color: #8EBAE9;
    width: 60px;
    height: 140px;
    opacity: 0.5;
    filter: opacity(0.5) drop-shadow(0 0 0 #8EBAE9);
    border: #8ee9b5 solid 15px;

}

.global:hover {
    opacity: 1;
}

.bottom-right {
    /* position: absolute;
  bottom: 8px;
  right: 16px; */
    /* width: 50%;
  height: 50%; */
    position: absolute;
    top: 40px;
    font-size: 50px;
    color: white;
    left: 30px;
    opacity: 0.220;
    /* background-color: #8EBAE9; */
}

.bottom-right:hover {
    opacity: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
    display: flex;
    flex-direction: column;

    column-gap: 5px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: white;
}

/* .hovercontent {
    display: none;
} */
/* .hovercontent:hover {
    display: block;
} */

.postcell {
    display: block;
}

.tblgrid {
    width: 100%;
    background-color: white;

}

.tblgrid tr td th {
    font-size: 30px;
}

.tblgrid th {
    text-align: center;
    vertical-align: center;
}

.tblgrid th {
    height: 50px;
}

.tblgrid tr {

    height: 25px;
}

.tblgrid td {

    font-size: 15px;
}

/* table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
 

} */

.container-table{
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

}



.cellwidth-one {
    width: 15%;
    height: 20px;
    /* width:60%; */
    /* width:20%;
    font-size: 10px; */

}

.cellwidth-two {
    width: 35%;
    height: 20px;
    /* width:70%; */
    /* width:60%;
    font-size: 10px; */

}

.cellwidth-four {
    width: 35%;
    height: 20px;

}

.cellwidth-data {
    width: 15%;
    height: 20px;


}

.cellwidth-data12 {
    width: 15%;
    height: 20px;
    opacity: 0.223;
}

.cellwidth-data12:hover {
    animation: bulge 0.8s ease-out;
    opacity: 1;
}

.cellwidth-action {
    width: 10%;
    height: 20px;

}

.cellwidth-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width:30%; */
    /* width:20%;
    font-size: 10px; */
    /* width:30%; */
    width: 100%;
    height: 20px;

}


.theader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: aqua solid 1px;
    /* width:20%; */

}

.theader-one {
    border: aqua solid 1px;
    /* width:40%; */
}

.theader-two {
    border: aqua solid 1px;
    /* width:40%; */
}

/* .cell-width-three
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
.theader-three {
    /* width:20%; */
    border: aqua solid 1px
}

tr:hover .postcell {
    display: table-cell;
    /* width:20%; */

}

th {
    text-align: center;
}

.material-icons {
    font-size: 15px;
}

/* .modal {
    background: rgba(0, 0, 0, .5);
} */

.model-align {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

}

.icon-settings {
    padding-top: 3px;
}

.roledrpdown {
    width: 10%;
    height: 10%;
}

.advsortdrpdown {
    width: 30%;
    height: 10%;
}
.align {
    padding: 10px;
}
.validation {
    /* border: #8ee9b5 solid 1px; */
    height: 20px;
    margin-bottom: 5px;
    color: red;
}
.advheadings {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    width: 95%;
    text-align: center;
    font-weight: bold;
}



/* .material-icons.disabled {
    opacity: 0.5;
    pointer-events: none;

} */


.modal-footer button {
    width: 50px;
    height: 25px;
    /* border:#eb0a0a solid 1px; */
}




.parent {
    background-color: whitesmoke;
    padding: 0;
    border-radius: 3px;
}
.header-table{
    font-size: 10px;
}

.parent button {
    margin-left: 50px;
}

.btn-emp {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;

}
.norecords{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 10px;

}
h1{
    color: black;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
