<div class="container">
  <div class="row justify-content-center">
    <!-- <div class="col-md-2"></div> -->
      <div class="col-md-8 register-div">
        <div class="heading">
          <h2>Register</h2>
        </div>
       
        <div class="content"> 
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- <div class="alert alert-danger validation-set" *ngIf="iserrorMessage">{{ errorMessage }}</div> -->
              <div class="form-group">
                <label for="name" class="label-group" >Name</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Enter name here"/>
                <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div> -->
              </div>
            
              <div class="form-group">
                <label for="email" class="label-group">Email</label>
                <input type="email" formControlName="email" class="form-control"  placeholder="Enter email here"/>
                <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div> -->
              </div>
            
              <div class="form-group">
                <label for="password" class="label-group">Password</label>
                <input type="password" formControlName="password" class="form-control"  placeholder="Enter password here"/>
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters long</div>
                </div> -->
              </div>
            <div class="btn-register">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
              
            
            </form>
        
        </div>
       
      </div>
      <!-- <div class="col-md-2"></div> -->
  </div>
</div>