.btn-emp{
    display: flex;
    column-gap:5px;
    justify-content: flex-end;
}
.editemp{
color: black;
}
.parent {
    background-color: whitesmoke;
    padding: 0;
    border-radius: 3px;
    font-size: 10px;
    color:black;
}

.parent button {
    margin-left: 50px;
}