
<!-- 
      <div class="parent">
        <div class="code-control">
          <label for="name">empCode:</label>
          <input type="text" [(ngModel)]="selectedEmployee.empcode" name="code" id="code" required class="form-control" readonly>
        </div>
        <div class="code-control">
          <label for="name">Name:</label>
          <input type="text" [(ngModel)]="selectedEmployee.empname" name="age" id="empname" required class="form-control">
        </div>
        <div class="code-control">
          <label for="department">department:</label>
          <input type="text" [(ngModel)]="selectedEmployee.department" name="department" id="department" required class="form-control">
        </div>
        <div class="btn-emp">
          <input type="button" (click)="editable(selectedEmployee,'api')" value="Edit" class="btn btn-primary mt-3">
          <input type="button" class="btn btn-secondary mt-3" (click)="onCloseHandled()" value="Cancel">
        </div>  
      </div> -->

<div class="container editemp">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="basic-addon1">empcode:</span>
        <input type="text" [(ngModel)]="selectedEmployee.empcode" name="code" id="code" required class="form-control" readonly>
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="basic-addon1">empname:</span>
        <input type="text" [(ngModel)]="selectedEmployee.empname" name="age" id="empname" required class="form-control">
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="basic-addon1">department:</span>
        <!-- <span class="input-group-text" id="basic-addon1">department:</span>
        <input type="text" [(ngModel)]="selectedEmployee.departmentname" name="department" id="department" required class="form-control"> -->
        <!-- <select [(ngModel)]="selectedEmployee.departmentname" id="category">
          <option value="" disabled >select an option</option>
          <option *ngFor="let department of options" [value]="department._id"  [ngValue]="department">
            {{department.name}}
          </option>
        </select> -->
        <select [(ngModel)]="selectedEmployee.departmentname" >
          <option [value]="null" disabled>Select an option</option>
          <option *ngFor="let department of options" [value]="department.name">
            {{department.name}}
          </option>
        </select>
      </div>
      <div class="btn-emp">
        <input type="button" (click)="editable(selectedEmployee,'api')" value="Edit" class="btn btn-primary mt-3">
        <input type="button" class="btn btn-secondary mt-3" (click)="onCloseHandled()" value="Cancel">
      </div>

    </div>
   

  </div>
</div>
    





