<div class="dashboard-container elements">
    <div class="dashboard-box"routerLink="/employee"> 
      <div class="dev-items">
        <h2>Employees List information 123</h2>
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
      <p>Manage employees, search, etc.</p>
    </div>
    <div class="dashboard-box" routerLink="/posts">
      <div class="dev-items">
        <h2>Posts</h2>
        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
      </div>
      <p>View and manage blog posts.</p>
    </div>
    <div class="dashboard-box">
        <div class="dev-items">
            <h2>Others</h2>
            <i class="fas fa-comments fa-2x text-gray-300"></i>
        </div>
      <p>Others</p>
    </div>
    <div class="dashboard-box" routerLink="/grid">
        <div class="dev-items">
            <h2>Employee grid</h2>
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
        </div>
      <p>Grid </p>
    </div>
  </div>
  
