<div class="dashboard-container elements">

    <div class="dashboard-box"routerLink="/employee" routerLinkActive="active">
      <div class="dev-items">
        <h2>Employees List information</h2>
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
      <p>Manage employees, search, etc.</p>
    </div>
    <div class="dashboard-box" routerLink="/posts" routerLinkActive="active">
      <div class="dev-items">
        <h2>Posts</h2>
        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
      </div>
      <p>View and manage blog posts.</p>
    </div>
    <div class="dashboard-box">
        <div class="dev-items">
            <h2>Others</h2>
            <i class="fas fa-comments fa-2x text-gray-300"></i>
        </div>
      <p>Others</p>
    </div>
    <div class="dashboard-box" routerLink="/grid" routerLinkActive="active">
        <div class="dev-items">
            <h2>Employee grid</h2>
            <i class="fas fa-fw fa-table fa-2x text-gray-300"></i>
        </div>
      <p>Grid </p>
    </div>
    <div class="dashboard-box" routerLink="/upload" routerLinkActive="active">
      <div class="dev-items">
          <h2>Documents Upload</h2>
          <i class="fas fa-fw fa-folder fa-2x text-gray-300"></i>
      </div>
    <p>Docs.. </p>
  </div>
  <div class="dashboard-box" routerLink="/profile" routerLinkActive="active">
    <div class="dev-items">
        <h2> Add Profile</h2>
        <i class="fas fa-fw fa-chart-area fa-2x text-gray-300"></i>
    </div>
  <p>Add your profile info..</p>
</div>
  </div>
  
