<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="main-div">
    <div id="menu">
      <h2>Menu</h2>
    </div>

    <!-- Content div -->
    <div id="content">

      <div class="container alert-header">
        <div class="row payroll-div">
          <div class="col-3 inner-div alert-title">
            <P>Alert Configuration</P>
            <p>Continuos Consumption by group.</p>
          </div>
          <div class="col-6 inner-div"></div>
          <div class="col-3 inner-div">
           
            <select>
              <option>select</option>
              <option>ascending</option>
              <option>descending</option>
            </select>
          </div>
        </div>
        <div class="row alert-body">
          <div class="col-4">

          </div>
          <div class="col-6 alert-group-config">
            <span>Group Name:</span>
            <select>
              <option>select</option>
              <option>bingoalert</option>
              <option>ringoalert</option>
            </select>
            <i class="material-icons add_circle_outline">&#xe148;</i>
            <i class="material-icons delete">&#xe872;</i> 
            
          </div>
          <div class="col-2">
            
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
</html>