.container-list{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color:black;
    overflow: auto;
    height: 100vh;
    font-size:15px;
    font-weight: normal!important;
}
input[type="text"],input[type="number"],input[type="date"]
,input[type="file"] {
    height:40px;
    border-radius: 5px;
    font-size: 15px;

}
select{
    height:40px;
    border-radius: 5px;
    font-size: 15px;
}