<div class="container-fluid container-list">
  <div class="border-bottom text-dark customer">
  <p class="text-dark font-weight-bold pt-4">Create Customer</p>  
  </div>
  <span class="border-bottom-5"></span>
  <p class="text-dark font-weight-bold small pt-4 pl-3 customer1">Add Customer Details</p> 
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Customer Name</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="customer name">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Username</label>
        <input type="text" class="form-control form-control-lg mt-2">
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">User Type</label>
        <input type="text" class="form-control form-control-lg mt-2">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Mapped Group</label>
        <input type="text" class="form-control form-control-lg mt-2">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">User Role</label>
        <input type="text" class="form-control form-control-lg mt-2">
      </div>

    </div>
    <div class="row pt-5">
      <div class="col-md-4">
        <label class="form-label fs-6">First Name</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="first name">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 ">Middle Name</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="middle name">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Last Name</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="last name">
      </div>

    </div>
    <div class="row pt-5">
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Email</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="Email">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Mobile Number</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="mobile number">
      </div>
      <div class="col-md-4">
        <label class="form-label fs-6 fw-normal">Password</label>
        <input type="text" class="form-control form-control-lg mt-2" placeholder="password">
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6 mt-3">
        <input type="submit" class="btn btn-warning btn-lg submit-me" value="SUBMIT">
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

   
    